.root {
  display: flex;
  height: 100%;
}

.content {
  flex-grow: 1;
  padding: 2em;
}

.toolbar {
  height: 70px;
}

/* NavBar */

.nav-toolbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-left: 224px;
}
